

html {
	font-size: 1em;
	line-height: 1.4;
        overflow-x: hidden;
        font-family: 'Jura', sans-serif; !important;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    text-rendering: optimizeLegibility !important;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

body {
	font-size: 1em;
	color: black;
	line-height: 1.4;
        overflow-x: hidden;
        font-family: 'Jura', sans-serif; !important;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    text-rendering: optimizeLegibility !important;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;	
}

/* General */

.responsive {
width:100%;
height:auto;
display:block;
}
.w250 {
	width: 250px;
}

.textpadding {
	padding: 20px;
}

.noblock {
	display: inline;
}

.maTop100 {
	margin-top: 100px;
}

.inputmargin-50 {
	margin-left:50px;
}
.inputmargin-20 {
	margin-left:20px;
}
.inputmargin-10 {
	margin-left:10px;
}
.inputmarginbottom-15 {
	margin-bottom:15px;
}

.txt-pd-l-20 {
	padding-left: 20px;
}

.mg-l-70{
	margin-left: 70px;
}

.pd-l-50 {
	padding-left: 50px;
}
.pd-l-30 {
	padding-left: 30px;
}
.pd-t-50 {
	padding-top: 50px;
}
.pd-t-20 {
	padding-top: 20px;
}
.pd-t-30 {
	padding-top: 30px;
}
.font-100 {
	font-size: 100px;
}
.font-70 {
	font-size: 70px;
}
.font-50 {
	font-size: 50px;
}
.font-40 {
	font-size: 40px;
}
.font-30 {
	font-size: 30px;
}

.dpnone {
	display: none;
}

th,tr,td {
	padding: 5px;
	padding-left: 50px;
}
th:first-child, tr:first-child,td:first-child {
	padding-left: 0;
}

.c-white {
	color: #ffffff !important;
}

.c-white:hover {
	color: #9d9d9d !important;
}

select {
	border:none;
}

/* NAVBAR */
.navbar-brand {
	font-size:24px;
}

.glyphicon-nav-pos {
	margin-left: 6px;
	top:4px;
}

/* /NAVBAR */

input, button {
	font-family: 'Jura', sans-serif !important;
}

#button {
	margin: 50px 0;
}

.checkBtn{
	margin-top: 50px;
}
#eingabe {
	margin: 20px 0;
}


/*Registrieren Fenster*/

#registrieren {
	margin: auto;
	width: 350px;
	margin-top: 150px;
	border: 1px solid grey;
    border-radius: 11px;
    text-align: center;
}

#registrieren input {
	margin: auto;
}

#registrieren h1 {
	    font-size: 30px;
}
#registrieren label {
	    font-size: 16px;
    font-weight: 100;
    margin-top: 30px;
}

.loginBtn {
	    margin-top: 40px !important;
    font-weight: 600;
    font-size: 20px;
}

.login-registrierungNotiz {
	padding: 2px;
    font-size: 12px !important; 
}

.absendeBtn {
	    margin-top: 40px !important;
    font-weight: 600;
    font-size: 20px;
}


/* /Registrieren Fenster*/
.firstContainer {
	margin-top: 50px;
}
.container-height {
	height: 400px;
}

.container-btrap-clear {
	padding:0;
	margin-left: 0;
	margin-right: 0;
}

/* STARTSEITE*/

.h1padding {
	padding-left: 20px;
}

.bordertest {
	border:1px solid grey;
	border-radius: 2px;
}
/* /STARTSEITE*/

h1 {
	font-weight: 100;
	font-size: 40px;
}
h2 {
	font-size: 25px;
	font-weight: 100;
}

button:focus, input:focus {
	outline: none;
} 

#control {
	margin-top: 50px;
	margin-left: 20px;
	float: left
}

.ergebnis_container {
	margin-top: 50px;
	margin-left: 20px;
	margin-right: 40px;
	float: left;
	font-size: 25px;
	font-weight: 100;
}

.ergebnis_container:last-child {
	margin-left: 100px;
}

#ergebnisse {
	display: flex;
}



input, #button {
	display: block;
	border: 0;
	margin-bottom: 15px;
	border-bottom: 1px solid grey;
	background-color: transparent;
	font-size: 16px;
}

.statusMessage {
	margin-top: 30px;
    color: lightblue;
}

#control_zurueck {
	margin-left: 20px;
}

/* Film erstellen*/

.beschreibunginput {
	    width: 90%;
    height: 150px;
}

#film-img {
	    width: 50%;
    border: 1px solid grey;
    background-color: lightgrey;
    height: 250px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#uploadFotoButton, .uploadFotoButtonClass {
	    margin: auto;
    margin-bottom: 48px;
	
}

/* Preoloader */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 1031;
}

#status {
    width: 100px;
    position: fixed;
    top: 52%;
    left: 50%;
    margin-left: -60px;
    background-repeat: no-repeat;
    background-position: center;
}

#load {
    width: 600px;
    font-size: 3em;
    position: fixed;
    margin-left: -300px;
    top: 30%;
    left: 50%;
    text-align: center;
    letter-spacing: 10px;
}
/* Benutzer Ändern */
#benutzerAendern {
	margin: auto;
	width: 350px;
	margin-top: 150px;
	border: 1px solid grey;
    border-radius: 11px;
    text-align: center;
    margin-bottom: 100px;
}

#benutzerAendern input {
	margin: auto;
}

#benutzerAendern h1 {
	    font-size: 30px;
}
#benutzerAendern label {
	    font-size: 16px;
    font-weight: 100;
    margin-top: 30px;
}

@media only screen and (max-width: 768px) {
	
	.inputpd-80-768 {
	padding-left:80px;
}
	#load {
		font-size: 2em;
	}

}


}

